# Archivos a ignorar por Prettier
node_modules
.next
dist
build
coverage
*.min.js
*.min.css
.pnpm-store
.turbo

# Archivos específicos
package-lock.json
pnpm-lock.yaml
yarn.lock

# Archivos de configuración sensibles
.env*
